<div class="about inner">
	<div class="row">
		<div class="col-md-12">
			<h4>Overview:</h4>
			Provides heating oil price in Poland based on prices of one of the
			wholesale supplier. <br> Synchronization and subscriber notifications are
			being done on daily basis.
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<h4>Source code:</h4>
			<a href="http://github.com/rkrysinski/heating-oil-price-app">http://github.com/rkrysinski/heating-oil-price-app</a> 
		</div>
	</div>
</div>
